.profile__about {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  font-style: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 650px) {
  .profile__about {
    max-width: 282px;
  }
}

@media screen and (max-width: 767px) {
  .profile__about {
    font-size: 14px;
    line-height: 1.214;
    text-align: center;
  }  
}