.popup__save-button {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.popup__save-button:hover {
  transition: opacity 0.5s ease;
  opacity: 0.8;  
}

@media screen and (max-width: 550px) {
  .popup__save-button {
    width: 100%;
    height: 46px;
    font-size: 14px;
    line-height: 1.214;
    margin-top: 45px;
  }
}